{
  "BASE_URL_NODE": "http://your-dev-ip:4000",
  "BASE_URL_FASTAPI": "http://your-dev-ip:8000",
  "NATIVE_FACT_CHECK_URL": "http://your-dev-ip:4000",
  "NATIVE_MEDIA_UPLOAD_URL": "http://your-dev-ip:8000",
  "CUSTOM_SCHEME": "afnd"
}
